<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <meta charset="utf-8"> -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VCG Google Search Tool</title>
	 <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
	<!--table sorter -->
	<link href="{{ url_for('static', filename='css/jquery.tablesorter.pager.css') }}" rel="stylesheet">
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.tablesorter.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.tablesorter.pager.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.tablesorter.widgets.js') }}"></script>
	
	<style>
.tablesorter-pager .btn-group-sm .btn {
  font-size: 1.2em; /* make pager arrows more visible */
}
</style>

	
	<script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.






      $('#clear').click(function() {
        location.reload();
      });
	  
	  $('#Addbutton').click(function() {
	  //var chekfalg = "";
	  //chekfalg = $('#checkboxkey').val();
	  
	  //if ($('#checkboxkey').is(':checked'))
	//	{
	//		chekfalg = "IncludeKeyword";
	//	}else
	//	{
	//		chekfalg = "NotIncludeKeyword";
	//	}

	  
	  
        $('#addquery').append('<option>' + $('<div/>').text($('#companyname').val() + '<:>' + $('#googlesearchpage').val() + '<:>' + $('#checkboxkey').val()).html());
		});

	  $('#removebutton').click(function () {
    $("#addquery option:selected").remove();
});

	  
	  
	  
      namespace = '/test';
            // Connect to the Socket.IO server.
            // The connection URL has the following format:
            //     http[s]://<domain>:<port>[/<namespace>]
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

            //socket.on('my_response_dass', function(msg) {
            //    $('#log').append('<br>' + $('<div/>').text('Received #' + msg.count + ': ' + msg.data).html());
            //});
      // socket.on('my_bo', function(msg) {
      //           $('#backofficedata').append('<option>' + $('<div/>').text('Account/CIN : ' + msg.CIN).html());
      //   $('#backofficedata').append('<option>' + $('<div/>').text('SortCode : ' + $('#SortCode').val()).html());
      //   $('#backofficedata').append('<option>' + $('<div/>').text('Name : ' + msg.Name).html());
      //   $('#backofficedata').append('<option>' + $('<div/>').text('Account/CIN : ' + msg.CIN).html());
      //   $('#backofficedata').append('<option>' + $('<div/>').text('Tax_Residence1 : ' + msg.Tax_Residence1).html());
      //   $('#backofficedata').append('<option>' + $('<div/>').text('Tax_Residence2 : ' + msg.Tax_Residence2).html());
      //   $('#backofficedata').append('<option>' + $('<div/>').text('Tax_Residence3 : ' + msg.Tax_Residence3).html());
      //   $('#backofficedata').append('<option>' + $('<div/>').text('Tax_Residence4 : ' + msg.Tax_Residence4).html());
      //   $('#backofficedata').append('<option>' + $('<div/>').text('Tax_Residence5 : ' + msg.Tax_Residence5).html());
      //   $('#backofficedata').append('<option>' + $('<div/>').text('Tax_Residence6 : ' + msg.Tax_Residence6).html());
      //   $('#backofficedata').append('<option>' + $('<div/>').text('Tax_Residence7 : ' + msg.Tax_Residence7).html());
      //   $('#backofficedata').append('<option>' + $('<div/>').text('Tax_Residence8 : ' + msg.Tax_Residence8).html());
      //   $('#backofficedata').append('<option>' + $('<div/>').text('Tax_Residence9 : ' + msg.Tax_Residence9).html());
      //
      //       });

      // socket.on('img_result', function(msg) {
      // var data = String(msg.img_resultss);
      // console.log('message form backend ' + data);
      //
      // var arr = data.split(',');
      //   $.each(arr, function(i, field){
      //     $("#resultselect").append('<option>' + $('<div/>').text(String(field)).html());
      //     });
      //
      //           console.log('message form backend ' + msg);
      //       });



      //$('#resultselect').on('change', function() {
      //	alert( this.value );
      //});

            // $('form#emit').submit(function(event) {
            //     socket.emit('my_event', {data: $('#emit_data').val()});
            //     return false;
            // });

            socket.on('my_response_dass', function(msg) {
				
				//var data = "dass <!> chris <`> caleb <!> praveen";
				//alert(msg);
				$('#outputtable').find("tr:gt(0)").remove();
				
				var data = msg.resultdata;
				//alert(data);
				var arr = data.split("<`>");
				$.each( arr, function( index, value ) {
					var arr2 = value.split("<!>");
					//alert(arr2[0]);
					$('#outputtable tr:last').after('<tr class="table-success clickable-row" onclick="rowclick(this)"><th scope="row">' + arr2[0] + '</th><td>' + arr2[1] + '</td><td><a href="' + arr2[2] + '" target="_blank">' + arr2[2] + '</a>' + '</td><td>' + arr2[3] + '</td><td>'  + parseInt(arr2[4]) + '</td><td>'  + arr2[5] + '</td><td>' + arr2[6] + '</td></tr>');
					
					
				});
				
             
			 $( "#aiotherwebsites" ).html( msg.otherwebvar);
			 
			 $('#outputtable tr:last').remove();
            });
			
      $('form#accform').submit(function(event) {
	  
		var selectValues = "";
		$("#addquery option").each(function() {
                selectValues = selectValues + $(this).text() + "<,>";
        });
		alert (selectValues);
			
                socket.emit('click_submit', {companyname: selectValues});
				//socket.emit('click_submit', {companyname: $('#companyname').val(), googlesearchpage:  $('#googlesearchpage').val()});
                return false;
            });
			
			 socket.on('my_response_rowclick', function(msg) {
			 $( "#output" ).html( msg.resultdata );
			 $( "#aicompletenews" ).html( msg.AInews );
			 });
			 
			
			$("#btnExtract").click(function(){
    
	socket.emit('extract_button', "Timmer Testing");
	
	 });
	 
	
	
		
	
	//myFunctiontest();
        });
    </script>
<script>
function myFunctiontest() {
setInterval(function(){ 
    //code goes here that will be run every 5 seconds.    
	//alert("Hello");
	var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
	socket.emit('testmy_event', "Timmer Testing");
	console.log("Timer");
}, 2000);   
   
}
</script>

<script>
	$(function() {

		// filter button demo code
		$('button.filter').click(function() {
			var col = $(this).data('column'),
				txt = $(this).data('filter');
			$('table').find('.tablesorter-filter').val('').eq(col).val(txt);
			$('table').trigger('search', false);
			return false;
		});

		// toggle zebra widget
		$('button.zebra').click(function() {
			var t = $(this).hasClass('btn-success');
			$('table')
				.toggleClass('table-striped')[0]
				.config.widgets = (t) ? ["filter"] : ["filter", "zebra"];
			$(this)
				.toggleClass('btn-danger btn-success')
				.find('span')
				.text(t ? 'disabled' : 'enabled');
			$('table').trigger('refreshWidgets', [false]);
			return false;
		});
	});
	</script>

	
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />


  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">AML Google Search</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home Screen<span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    
  </div>
</nav>
  
  
    

    <form id="accform" method="POST" action='#'>
      <fieldset>


        <div class="container">
    <div class="card mb-3">
    <h3 class="card-header text-primary">Enter the Search details</h3>


    <div class="row justify-content-md-center">

      <div class="col col-lg-3">
      <div class="form-group">
        <label class="text-primary" for="exampleInputEmail1">Company Name</label>
        <input type="text" class="form-control" style="height:auto;" id="companyname" aria-describedby="accountnumber" placeholder="Enter Company Name">
        <!--small id="accountnumber" class="form-text text-muted">Enter the account number.</small-->
      </div>
	  </div>
	  <div class="col col-lg-3">
	  <div class="form-group">
      <label class="text-primary" for="exampleSelect1">Google Search Page</label>
      <select class="form-control" aria-describedby="accountnumber" style="height:auto;" id="googlesearchpage">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
		<option>6</option>
		<option>7</option>
		<option>8</option>
		<option>9</option>
		<option>10</option>
		
		
      </select>
    </div>
	
      </div>
      
	  
	  
	   <div class="col col-lg-3">
      <div class="form-group">
       
	   <label class="text-primary" for="exampleSelect1">Include Search Keyword</label>   
		
       
		<select class="form-control" aria-describedby="accountnumber" style="height:auto;" id="checkboxkey">
        <option>NoKeyWord</option>
        <option>SearchKeyWordList1</option>
        <option>SearchKeyWordList2</option>
        <option>SearchKeyWordList3</option>
        <option>SearchKeyWordList4</option>
		<option>SearchKeyWordList5</option>
		
		
      </select>
	  
        
        <!--small id="accountnumber" class="form-text text-muted">Enter the account number.</small-->
      </div>
	  </div>
	  
          
      
	  
      <div class="col col-lg-3">
      <div class="pt-5 form-group">
       
        <button type="button" id="Addbutton" style="width:auto;" class="form-control btn btn-success">Add</button>
        <!--small id="accountnumber" class="form-text text-muted">Enter the account number.</small-->
      </div>
	  </div>
	  
  </div>
 
 <div class="row justify-content-md-center">
 <div class="col col-lg-5">
	<div class="form-group">
      <label class="text-primary" for="exampleSelect2">Added Query</label>
      <select multiple="" class="form-control" id="addquery">
       
      </select>
    </div>
	</div>
	  <div class="col col-lg-3">
      <div class="pt-5 form-group">
       
        <button type="button" id="removebutton" style="width:auto;" class="form-control btn btn-success">Remove</button>
        <!--small id="accountnumber" class="form-text text-muted">Enter the account number.</small-->
      </div>
	  </div>
	  
  </div>

      <div class="card">
    <div class="card-body">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
      <button type="submit" class="btn btn-primary">Submit</button>
      </div>

      <div class="col col-lg-2">
      <button type="button" id="clear" class="btn btn-primary">Clear</button>
      </div>
	  
	  <div class="col col-lg-2">
      <button type="button" id="btnExtract" class="btn btn-primary">Show Result</button>
      </div>

  </div>
  </div>
  </div>
  </div>


	<div class="row justify-content-md-center">
<!--- staring tab start -->	
<div class="container">
  <h2>Search Result</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#home">AI Score Board</a></li>
    <li><a href="#menu1">AI Negative News</a></li>
    <li><a href="#menu2">AI Complete News</a></li>
    <li><a href="#menu3">Profiling</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <!--h3>HOME</h3-->
	  <table id="outputtable" class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Sl</th>
      <th scope="col">Company Name <i class="fa fa-sort float-right" aria-hidden="true"></i> </th>
	  <th scope="col">Result URL</th>
	  <th scope="col">Highlighted Keyword</th>
      <th scope="col">Google Page <i class="fa fa-sort float-right" aria-hidden="true"></i> </th>
      <th scope="col">AI Score <i class="fa fa-sort float-right" aria-hidden="true"></i> </th>
	  <th scope="col">File Type</th>
    </tr>
  </thead>
  <tbody>
    <!--tr class="table-active">
      <th scope="row">Active</th>
      <td>Column content</td>
      <td>Column content</td>
      <td>Column content</td>
    </tr-->
    
  </tbody>
</table>

    </div>
    <div id="menu1" class="tab-pane fade">
      
	  <div class="card-body">
		<p id="output" class="card-text text-success"></p>
		
	  </div>
	

    </div>
    <div id="menu2" class="tab-pane fade">
      
	  <div class="card-body">
		<p id="aicompletenews" class="card-text text-success"></p>
		
	  </div>
	  
    </div>
    <div id="menu3" class="tab-pane fade">
      <div class="card-body">
		<p id="aiotherwebsites" class="card-text text-success"></p>
		
	  
    </div>
	
	
  </div>
</div>

<script>
$(document).ready(function(){
    $(".nav-tabs a").click(function(){
        $(this).tab('show');
    });
});
</script>
<!--- staring tab end -->
	  
	

	
  </div>
  


  </div>
  
  
  <script type="text/javascript">
  // set interval
  
  function rowclick(x) {
    
	namespace = '/test';
    var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
	
        //alert("Row index is: " + x.rowIndex);
		var num = x.rowIndex;
		socket.emit('row_Index', num.toString());
		console.log(x);
		
  }
</script>

  

      </fieldset>
    </form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- <script src="{{ url_for('static', filename='jquery-3.3.1.js') }}"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> -->
  </body>
</html>
